.git
application/cache/*
application/logs/*
application/vendor/
node_modules
assets/Notices/*
assets/advance_request/*
assets/banks/*
assets/billing_period_files/*
assets/contractor_invoice_files/*
assets/debits/*
assets/empanelment_doc/*
assets/employee_doc/*
assets/employer_doc/*
assets/format_doc/*
assets/invoice_files/*
assets/invoices/*
assets/loanaccounts/*
assets/postal_slip/*
assets/seizer_notice/*
