/application/vendor/
/application/cache/*
!/application/cache/index.html
/application/logs/*
!/application/logs/index.html
/.env
/assets/Notices/*
!/assets/Notices/.gitkeep
/assets/advance_request/*
!/assets/advance_request/.gitkeep
/assets/banks/*
!/assets/banks/.gitkeep
/assets/billing_period_files/*
!/assets/billing_period_files/.gitkeep
/assets/contractor_invoice_files/*
!/assets/contractor_invoice_files/.gitkeep
/assets/debits/*
!/assets/debits/.gitkeep
/assets/empanelment_doc/*
!/assets/empanelment_doc/.gitkeep
/assets/employee_doc/*
!/assets/employee_doc/.gitkeep
/assets/employer_doc/*
!/assets/employer_doc/.gitkeep
/assets/format_doc/*
!/assets/format_doc/.gitkeep
/assets/invoice_files/*
!/assets/invoice_files/.gitkeep
/assets/invoices/*
!/assets/invoices/.gitkeep
/assets/loanaccounts/*
!/assets/loanaccounts/.gitkeep
/assets/postal_slip/*
!/assets/postal_slip/.gitkeep
/assets/seizer_notice/*
!/assets/seizer_notice/.gitkeep
